<section>
    <h1>Bienvenue sur Allo Resto, le resto de toutes les envies !</h1>
    <div>
        <article>
            <mat-card>
                <div class="flex">
                    <img src="../../../assets/img/boulettes-riz.jpg" alt="boulette">
                    <img src="../../../assets/img/creme.jpg" alt="creme">
                    <img src="../../../assets/img/gastro.jpg" alt="gastro">
                    <img src="../../../assets/img/porc-chorizo.jpg" alt="chorizo">
                </div>
                <a routerLink="/carte">Voir la carte</a>
            </mat-card>
        </article>
        <article>
            
        </article>
    </div>
</section>
